<div class="form-wrapper">
  <div class="p-card shadow-3 p-4">
    <div class="p-fluid">
      <h2 class="text-center mb-4">{{ 'login.signIn' | transloco }}</h2>
      <fieldset>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="p-field mb-3">
              <label for="email">Email</label>
              <input type="email" id="email" pInputText formControlName="email" class="p-inputtext d-block mt-1">
            </div>

            <div class="p-field mb-3">
              <label for="password">Password</label>
              <p-password id="password" formControlName="password" [toggleMask]="true" class="d-block mt-1"></p-password>
            </div>
            <p-button pButton type="submit" label="{{ 'login.enter' | transloco }}" [disabled]="loginForm.invalid"></p-button>
        </form>
      </fieldset>

      <p
      *ngIf="message"
      [ngClass]="{'error': message}">{{message}}</p>
    </div>
  </div>
</div>
