<app-user-detail [user]="selectedUser" [display]="displayUserDetail" (close)="closeUserDetail()"></app-user-detail>
<h2>{{ 'usersListPage.title' | transloco }}</h2>
<!-- Lista di utenti -->
<div class="agGrid">

  <div class="containerBtnLogout">
    <!-- Pulsante per inserire un nuovo utente -->
    <p-button>{{ 'usersListPage.addUser' | transloco }}</p-button>

    <!-- Pulsante per eseguire il logout -->
      <p-button class="logout" (click)="logout()">{{ 'usersListPage.logout' | transloco }}<i class="pi pi-sign-out"></i></p-button>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="users"
    [columnDefs]="columnDefs"
    [rowModelType]="'clientSide'"
    [pagination]="true"
    [domLayout]="'autoHeight'"
    [animateRows]="true"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    >

    <!-- Pulsante per aprire i dettagli dell'utente -->
    <p-button (click)="openUserDetail(user)" *ngFor="let user of users">
      {{ 'usersListPage.detail' | transloco }}
    </p-button>
  </ag-grid-angular>

</div>
