h2 {
  text-align: center;
  color: #4d4d4d;
}
.agGrid {
  margin: 1.2rem;
}

.containerBtnLogout {
  margin-bottom: 1.2rem;
  margin-right: .3rem;
  display: flex;
  justify-content: space-between;
}

.logout button{
  color: #262626;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout button i {
  margin-left: .5rem;
}

.logout button:hover {
  background-color: #93939318;
  color: #db0a0a;
}

.view-btn, .edit-btn, .delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 7px;
}

.view-btn:hover {
  color: #388e3b;
  background-color: #93939318;
  border-radius: 50%;
}

.edit-btn:hover {
  color: #FFA500;
  background-color: #93939318;
  border-radius: 50%;
}

.delete-btn:hover {
  color: #db0a0a;
  background-color: #93939318;
  border-radius: 50%;
}

.success-message {
  margin-top: 1rem;
  padding:.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  margin-top: 1rem;
  padding:.5rem 1rem;
  background-color: #f44336;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.test-class {
  background-color: yellow;
  color: black;
}

