.form-container {
  max-width: 80%;
  margin: 1rem auto 3rem;
}

.error {
  margin-top: .2rem;
  padding: .5rem 0;
}
.successMessage {
  position: fixed;
  top: 50%;
  left: 10%;
  min-width: 80%;
  padding: .6rem 0;
  color: #ffffff;
  background-color: #00800091;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

.required-field span {
  color: #db0a0a;
  font-size: 1.2rem;
  margin-left:.3rem;
}

p.required-field {
  color: #616161;
  text-align: end;
  margin-right: .8rem;
  margin-top: 1.5rem;
  font-size: .9rem;
}

.required-field p-dropdown .p-dropdown-label{
  color: #616161;
  font-size: 1rem;
  margin-left: 0;
}

span.ng-star-inserted {
  color: #232323;
  font-size: 1rem;
  margin-left: 0;
}
